<!-- Footer -->
<footer class="font-small mt-5 fixed-bottom bg-dark text-light">
        <!-- Footer Links -->
        <div class="container-fluid pt-3 text-center mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase font-weight-bold">Acerca de Nosotros</h6>
                    <hr class="bg-secondary mb-4 mt-0 d-inline-block mx-auto">
                    <p>
                        <a href="#!" class="text-white">¿Quienes somos?</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Historia</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Misión y Visión</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col mx-auto mb-4">
                    <div class="row mx-auto">
                        <div class="col mx-auto">
                            <h6 class="text-uppercase font-weight-bold">Nuestras redes</h6>
                            <hr class="bg-secondary mb-4 mt-0 d-inline-block mx-auto">
                            <div class="mx-auto">
                                <a href="#">
                                    <img src="/img/facebook.png" alt="Facebook" class="iconSize">
                                </a>
                                <a href="#">
                                    <img src="/img/twitter.png" alt="Twitter" class="iconSize">
                                </a>
                                <a href="#">
                                    <img src="/img/google.png" alt="Google" class="iconSize">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col  mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">¡Contactanos!</h6>
                    <hr class="bg-secondary mb-4 mt-0 d-inline-block mx-auto">
                    <p>
                        <i class="mr-3"></i>
                        Benito Juárez #173-A
                        28000 Colima,Col.</p>
                    <p>
                        <i class="mr-3"></i>nosotrostambiencontamos.iap@hotmail.com</p>
                    <p>
                        <i class="mr-3"></i> + (312) 312 25 24</p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright</div>
        <!-- Copyright -->
</footer>
    
<div class="copyright py-4 text-center text-white">
  <div class="container">
    <small>Copyright &copy; <%- new Date().getFullYear(); %>, All rights reserved</small>
  </div>
</div>
