<nav class="navbar navbar-expand-sm navbar-dark bg-danger fixed-top">
    <a class="navbar-brand" href="/index">
      <img src="/img/random/nosotros-tambien-contamos-logo.png" class="logoSize img-fluid" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar6">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-stretch" id="navbar6">
        <ul class="navbar-nav d-none d-lg-inline-flex">
            <li class="nav-item">
                <a class="nav-link text-warning disabled text-capitalize" href="/index">Nosotros Tambien Contamos I.A.P <span class="sr-only">Home</span></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Inicio<span class="sr-only">(actual)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/ayudar">Ayudar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-break" href="/talleres">Actividades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/programas">Programas</a>
          </li>
        </ul>
    </div>
</nav>
