<nav class="navbar bg-dark navbar-dark sticky-top">
    <a class="navbar-brand" href="#">
        <img src="img/logo.PNG" class="logoSize" alt="Logo">
    </a>

    <ul class="navbar justify-content-end list-unstyled">
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Ayuda</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Actividades</a>
        </li>
    </ul>
</nav>
