<!Doctype html>
<html>

<head>
    <% include ./partials/head %>
</head>

<body>
    <% include ./partials/menuNav %>
    <main class="container-fluid mt-4 mx-auto">
        <article class="container mx-auto shadow p-3 mb-4 rounded">
            <div class="mx-auto text-center">
                <h2 class="text-lg-center text-break">¿Quienes Somos?</h2>
            </div>

            <div class="row mx-auto justify-content-center">
                <div class="col-md-6 mt-3">
                    <p class="text-justify text-break">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of
                        type and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but also
                        the
                        leap
                        into electronic typesetting, remaining essentially unchanged. It was popularised in the
                        1960s
                        with the
                        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                        publishing
                        software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>

                <div class="col-md-6 mt-3 shadow p-3 mb-5 rounded">
                    <img src="img/op.jpg" class="img-fluid">
                </div>
            </div>
        </article>

        <hr class="mx-auto w-50">

        <article class="container mx-auto shadow p-3 mb-4 rounded">
            <div class="mx-auto text-center">
                <h2 class="text-lg-center text-break">Historia</h2>
            </div>

            <div class="row mx-auto justify-content-center">
                <div class="col-md-6 mt-3">
                    <p class="text-justify text-break">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of
                        type and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but also
                        the
                        leap
                        into electronic typesetting, remaining essentially unchanged. It was popularised in the
                        1960s
                        with the
                        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                        publishing
                        software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
                <div class="col-md-6 mt-3">
                    <p class="text-justify text-break">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of
                        type and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but also
                        the
                        leap
                        into electronic typesetting, remaining essentially unchanged. It was popularised in the
                        1960s
                        with the
                        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                        publishing
                        software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div>
        </article>

        <hr class="mx-auto w-50">

        <article class="bg-white mx-auto mt-5 shadow p-3 mb-4 rounded">
            <div class="mx-auto row"> 
                <div class="col-md-6 mx-auto align-self-center mis-1">
                    <h2 class="text-lg-center text-break">Misión</h2>
                </div>

                <div class="col-md-6 mt-3">
                    <p class="text-justify text-break">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of
                        type and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but also
                        the
                        leap
                        into electronic typesetting, remaining essentially unchanged. It was popularised in the
                        1960s
                        with the
                        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                        publishing
                        software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div>

            <div class="mx-auto row cont-vis">
                <div class="col-md-6 mt-3 vis-1">
                    <p class="text-justify text-break">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of
                        type and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but also
                        the
                        leap
                        into electronic typesetting, remaining essentially unchanged. It was popularised in the
                        1960s
                        with the
                        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                        publishing
                        software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>

                <div class="col-md-6 mx-auto align-self-center vis-2">
                    <h2 class="text-lg-center text-break">Visión</h2>
                </div>
            </div>
        </article>
    </main>
    <% include ./partials/footer %>
</body>

</html>