<!Doctype html>
<html>

<head>
  <% include ./partials/head %>
  <link rel="stylesheet" href="../stylesheets/about.css">
  <link rel="stylesheet" href="../../stylesheets/index.css">

  <title>acercade</title>
</head>
<body>
    <% include ./partials/menuNav %>
    <main class="container-fluid mx-auto p-0">
        <!--Quienes somos-->
        <article class="jumbotron p-2 p-md-4 text-white bg-secondary w-100">
            <div class="mx-auto text-center">
                <h2 class="text-lg-center text-break">¿Quienes Somos?</h2>
            </div>

            <div class="mx-auto w-75">
                    <p class="text-md-center justify text-break">
                        SOMOS UNA INSTITUCION DE ASISTENCIA PRIVADA SIN FINES DE LUCRO,CON PERSONALIDAD JURIDICA Y
                        PATRIMONIO PROPIO, AFILIADA A LA JUNTA DE ASISTENCIA PRIVADA DEL ESTADO DE COLIMA EN EL SECTOR
                        DISCAPACIDAD QUE APOYA A PERSONAS DE ESCASOS RECURSOS Y CON DISCAPACIDAD FUNDADA EN EL AÑO 2003.
                    </p>
            </div>

            <div class="mx-auto w-75">
                <img src="/img/banners/Imagen4.jpg" alt="someIMG" class="mw-100 rounded mx-auto d-block img-fluid" />
            </div>

            <hr class="mx-auto w-75">

            <div class="mx-auto w-75 justify-content-center mt-3">
                <p class="text-lg-center font-italic font-weight-light text-break">
                    “Nuestro trabajo pone a la gente cara a cara
                    con el amor. Para nosotros lo importante es el
                    Individuo. Para amar a la persona debemos
                    entrar en contacto estrecho con ella”
                </p>
                <p class="text-right font-italic text-break">
                    Madre Teresa de Calcuta
                </p>
            </div>
        </article>

        <hr class="mx-auto w-50">

       <!--Mision y vision-->
        <article class="container mx-auto shadow p-3 mb-4 rounded" id="mision">
            <div class="row mx-auto"> 
                <div class="col-md-6 mx-auto text-center align-self-center mis-1">
                    <h2 class="text-lg-center text-break tit-mis">Misión</h2>
                </div>

                <div class="col-md-6 mt-3">
                    <p class="text-justify text-break">
                        Promover la mejora de la educación y la salud de las personas con discapacidad del municipio de
                        Colima a través de programas de salud, alimentación, transporte escolar, mejora de
                        infraestructura y capacitación laboral para desarrollar su autonomía y, si es el caso
                        integrarlos al sector productivo.
                    </p>
                </div>
            </div>
        </div>

            <hr class="mx-auto w-100">

            <div class="row mx-auto">
                <div class="col-md-6 mt-3 order-last order-md-first">
                    <p class="text-justify text-break">
                        Organismo capaz de brindar a personas con discapacidad un espacio de capacitación e integración
                        laboral, siendo gestores del cumplimiento de la Ley de Discapacidad en el Estado de Colima para
                        que gocen de prestaciones.
                    </p>
                </div>

                <div class="col-md-6 mx-auto text-center align-self-center order-first order-md-last">
                    <h2 class="text-lg-center text-break">Visión</h2>
                </div>
            </div>
        </article>

        <hr class="mx-auto w-50">

        <!--Patronato-->
        <article class="container mx-auto shadow p-3 mb-4 rounded">
                <div class="mx-auto text-center align-self-center mis-1">
                    <h2 class="text-lg-center text-break tit-mis">Patronato</h2>
                </div>

                <div class="mx-auto justify-content-center">
                    <p class="text-justify text-break">
                        El Patronato “Nosotros También Contamos I.A.P” brinda apoyo a 195 niños y jóvenes con diferentes
                        tipos de discapacidad y de escasos recursos económicos que acuden al CAM Jean Piaget, Centro de
                        Capacitación Laboral, Telesecundaria de Educación Especial y Bachillerato no escolarizado para
                        personas con discapacidad.
                    </p>
                </div>

            <hr class="mx-auto w-100">

            <div class="container mx-auto">
                <div class="row mx-auto mt-2">
                    <div class="col-md-6">
                        <div class="mx-auto text-center align-self-center">
                            <h2 class="text-lg-center text-break">Objeto del Patronato</h2>
                        </div>

                        <div class="mx-auto">
                            <p class="text-lg-center text-break">
                                Atención a requerimientos básicos en materia de alimentación y salud; así como de
                                capacitación para el trabajo de las personas de escasos recursos con capacidades
                                diferentes.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 mx-auto">
                        <div class="mx-auto order-last order-md-first">
                            <ul class="list-group text-center mx-auto">
                                <li class="list-group-item text-break active">Valores</li>
                                <li class="list-group-item text-break">Amor, calidad y calidez</li>
                                <li class="list-group-item text-break">Responsabilidad y trabajo</li>
                                <li class="list-group-item text-break">Honestidad y transparencia</li>
                                <li class="list-group-item text-break">Tolerancia, solidaridad y justicia</li>
                                <li class="list-group-item text-break">Perseverancia, humildad y respeto</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        </article>

        <hr class="mx-auto w-50">

        <!--Objetivo-->
        <article class="container mx-auto shadow p-3 mb-4 rounded">
            <div class="mx-auto text-center">
                <h2 class="text-lg-center text-break">Objetivo</h2>
            </div>

            <div class="mx-auto justify-content-center mt-3">
                <p class="text-md-justify text-sm-center text-break">
                    Contribuir en la mejora de los niveles de educación, capacitación laboral, salud, alimentación y
                    transporte de los niños y jóvenes que se atienden en el CAM Jean Piaget y la telesecundaria de
                    educación especial, CAM Laboral y bachillerato no escolarizado para personas con discapacidad a
                    través de acciones de fortalecimiento, apoyo, gestión y promoción que le permita mejorar su calidad
                    de vida e integración a la sociedad y sector laboral
                </p>    
            </div>
        </article>
    </main>
    <% include ./partials/footer %>
    <% include ./partials/scripts%>
</body>
</html>