<!Doctype html>
<html>

<head>
    <% include ./partials/head %>
</head>

<body>
    <% include ./partials/menuNav %>
    <main class="container-fluid mt-4 mx-auto">
        <!--Quienes somos-->
        <article class="container mx-auto shadow p-3 mb-4 rounded">
            <div class="mx-auto text-center">
                <h2 class="text-lg-center text-break">¿Quienes Somos?</h2>
            </div>

            <div class="row mx-auto justify-content-center">
                <div class="col-md-6 mt-3">
                    <p class="text-justify text-break">
                        SOMOS UNA INSTITUCION DE ASISTENCIA PRIVADA SIN FINES DE LUCRO,CON PERSONALIDAD JURIDICA Y
                        PATRIMONIO PROPIO, AFILIADA A LA JUNTA DE ASISTENCIA PRIVADA DEL ESTADO DE COLIMA EN EL SECTOR
                        DISCAPACIDAD QUE APOYA A PERSONAS DE ESCASOS RECURSOS Y CON DISCAPACIDAD FUNDADA EN EL AÑO 2003.
                    </p>
                </div>

                <div class="col-md-6 mt-3 shadow p-3 mb-5 rounded">
                    <img src="img/op.jpg" class="img-fluid">
                </div>
            </div>
        </article>

        <hr class="mx-auto w-50">

        <!--Historia-->
        <article class="container mx-auto shadow p-3 mb-4 rounded">
            <div class="mx-auto text-center">
                <h2 class="text-lg-center text-break">Historia</h2>
            </div>

            <div class="mx-auto justify-content-center">
                <p class="text-justify text-break">
                        EN EL 2008 SE INCIA CON EL SERVICIO DE TRANSPORTE PARA NIÑAS Y NIÑOS CON DISCAPACIDAD Y DE
                        ESCASOS RECURSOS EL CAM JEAN PIAGET, INICIANDO CON 15 PERSONAS. TRANSPORTANDOLOS DE SUS CASAS A
                        SUS CENTROS DE ATENCION Y VICEVERSA.

                        LA CAMIONETA FUE ENTREGADA A LA INSTITUCION COMO RESULTADO DEL PROYECTO “AYUDÓN COLIMENSE”
                </p>
            </div>

            <hr class="mx-auto">

            <div class="container mx-auto">
                <div class="row mx-auto">
                    <div class="col-md-6 mx-auto text-center align-self-center">
                        <h2 class="text-lg-center text-break">Programas de Salud</h2>
                    </div>

                    <div class="col-md-6 mt-3">
                        <p class="text-justify text-break">
                            En el 2006 iniciamos Apoyando con gestión de servicios médicos con Ortodoncistas ,
                            Dentistas, Oculistas, Retinólogos y Audiólogos en Colima, Guadalajara y México DF.

                            Donativos y gestiones de aparatos auditivos , sillas de ruedas y medicamentos
                            periódicamente a los centros de Atención.

                            Apoyo de materiales de limpieza como gel antibacterial, rollos y toallas de papel así
                            como jabón líquido periódicamente.
                        </p>
                    </div>
                </div>

                <hr class="mx-auto">

                <div class="row mx-auto">
                    <div class="col-md-6 mt-3 order-last order-md-first">
                        <p class="text-justify text-break">
                            Se apoyó a las escuelas de educación especial con material didáctico, aseo personal,
                            limpieza, mantenimiento y eventos.

                            Se brindó apoyo a familias de personas con discapacidad y de escasos recursos con apoyos en
                            especie como colchones, alimentos, parrillas de gas, playeras, ropa.
                        </p>
                    </div>

                    <div class="col-md-6 mx-auto text-center align-self-center order-first order-md-last">
                        <h2 class="text-lg-center text-break">Donativos y Material Didáctico</h2>
                    </div>
                </div>

                <hr class="mx-auto">

                <div class="row mx-auto">
                    <div class="col-md-6 mx-auto text-center align-self-center">
                        <h2 class="text-lg-center text-break">Talleres de Capacitación Laboral</h2>
                    </div>

                    <div class="col-md-6 mt-3">
                        <p class="text-justify text-break">
                            Se equiparon con éxito dos talleres de capacitación laboral para personas con discapacidad
                            como son el de PANADERÍA Y JARDINERÍA y VIVEROS en el CAM LABORAL así como la implementación
                            de la BANDA de GUERRA en la Telesecundaria de Educación Especial Y Taller de música ORFF
                            para niños con discapacidad auditiva del Cam Jean Piaget.
                        </p>
                    </div>
                </div>

                <hr class="mx-auto">

                <div class="row mx-auto">
                    <div class="col-md-6 mt-3 order-last order-md-first">
                        <p class="text-justify text-break">
                            En el 2014 se instalaron dos invernaderos para la producción de plantas, así como la
                            capacitación para 22 personas con discapacidad a través de un ingeniero agrónomo durante
                            seis meses dotando de todas las herramientas y equipo necesario de seguridad para la
                            reproducción de plantas. Continuando la capacitación y apoyando este taller en sus
                            diferentes necesidades.
                        </p>
                    </div>

                    <div class="col-md-6 mx-auto text-center align-self-center order-first order-md-last">
                        <h2 class="text-lg-center text-break">Taller de Jardineria y Vivero</h2>
                    </div>
                </div>

                <hr class="mx-auto">

                <div class="row mx-auto">
                    <div class="col-md-6 mx-auto text-center align-self-center">
                        <h2 class="text-lg-center text-break">Talleres de Panadería</h2>
                    </div>

                    <div class="col-md-6 mt-3">
                        <p class="text-justify text-break">
                            En el 2009 se equipó un taller de Panadería con horno, batidora, amasadora industrial,
                            báscula, mesas de acero y todo los utensilios de cocina, así como material para elaboración de panes
                            y galletas y equipos de protección. Capacitándose 21 personas con discapacidad y madres de
                            familia y apoyando este taller en sus diferentes necesidades.
                        </p>
                    </div>
                </div>

                <hr class="mx-auto">

                <div class="row mx-auto">
                    <div class="col-md-6 mt-3 order-last order-md-first">
                        <p class="text-justify text-break">
                            Se dotó de instrumentos musicales, grabadora, uniformes y maestro para grupo de música para
                            niños sordos “CUANDO VIBRAN LAS CUERDAS DEL ALMA”.
                            El taller de música Orff les permite a los niños y jóvenes sordos un mejor aprovechamiento
                            escolar, desarrollando habilidades, aprender a tocar instrumentos de percusión y bailar.
                        </p>
                    </div>

                    <div class="col-md-6 mx-auto text-center align-self-center order-first order-md-last">
                        <h2 class="text-lg-center text-break">Taller de Música Para Niños Sordos</h2>
                    </div>
                </div>
                
            </div>
        </article>

        <hr class="mx-auto w-50">

       <!--Mision y vision-->
        <article class="container mx-auto shadow p-3 mb-4 rounded">
            <div class="mx-auto row"> 
                <div class="col-md-6 mx-auto text-center align-self-center mis-1">
                    <h2 class="text-lg-center text-break tit-mis">Misión</h2>
                </div>

                <div class="col-md-6 mt-3">
                    <p class="text-justify text-break">
                        Promover la mejora de la educación y la salud de las personas con discapacidad del municipio de
                        Colima a través de programas de salud, alimentación, transporte escolar, mejora de
                        infraestructura y capacitación laboral para desarrollar su autonomía y, si es el caso
                        integrarlos al sector productivo.
                    </p>
                </div>
            </div>

            <hr class="mx-auto w-100">

            <div class="mx-auto row">
                <div class="col-md-6 mt-3 order-last order-md-first">
                    <p class="text-justify text-break">
                        Organismo capaz de brindar a personas con discapacidad un espacio de capacitación e integración
                        laboral, siendo gestores del cumplimiento de la Ley de Discapacidad en el Estado de Colima para
                        que gocen de prestaciones.
                    </p>
                </div>

                <div class="col-md-6 mx-auto text-center align-self-center order-first order-md-last">
                    <h2 class="text-lg-center text-break">Visión</h2>
                </div>
            </div>
        </article>

        <hr class="mx-auto w-50">

        <!--Patronato-->
        <article class="container mx-auto shadow p-3 mb-4 rounded">
                <div class="mx-auto text-center align-self-center mis-1">
                    <h2 class="text-lg-center text-break tit-mis">Patronato</h2>
                </div>

                <div class="mx-auto justify-content-center">
                    <p class="text-justify text-break">
                        El Patronato “Nosotros También Contamos I.A.P” brinda apoyo a 195 niños y jóvenes con diferentes
                        tipos de discapacidad y de escasos recursos económicos que acuden al CAM Jean Piaget, Centro de
                        Capacitación Laboral, Telesecundaria de Educación Especial y Bachillerato no escolarizado para
                        personas con discapacidad.
                    </p>
                </div>

            <hr class="mx-auto w-100">

            <div class="container mx-auto">
                <div class="row mx-auto mt-2">
                    <div class="col-md-6 mx-auto text-center align-self-center">
                        <h2 class="text-lg-center text-break">Objeto del Patronato</h2>
                    </div>

                    <div class="col-md-6 mx-auto">
                        <p class="text-justify text-break">
                            Atención a requerimientos básicos en materia de alimentación y salud; así como de
                            capacitación para el trabajo de las personas de escasos recursos con capacidades diferentes.
                        </p>
                    </div>
                </div>


                <div class="container w-75 mx-auto mt-5 shadow p-3 mb-4 rounded">
                    <div class=" mx-auto text-center align-self-center order-first order-md-last">
                        <h2 class="text-lg-center text-break">Valores del Patronato</h2>
                    </div>

                    <div class="mx-auto order-last order-md-first">
                        <ul class="list-group text-center mx-auto">
                            <li class="list-group-item text-break">Amor, calidad y calidez</li>
                            <li class="list-group-item text-break">Responsabilidad y trabajo</li>
                            <li class="list-group-item text-break">Honestidad y transparencia</li>
                            <li class="list-group-item text-break">Tolerancia, solidaridad y justicia</li>
                            <li class="list-group-item text-break">Perseverancia, humildad y respeto</li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </article>

        <hr class="mx-auto w-50">

        <!--Objetivo-->
        <article class="container mx-auto shadow p-3 mb-4 rounded">
            <div class="mx-auto text-center">
                <h2 class="text-lg-center text-break">Objetivo</h2>
            </div>

            <div class="mx-auto justify-content-center mt-3">
                <p class="text-justify text-break">
                    Contribuir en la mejora de los niveles de educación, capacitación laboral, salud, alimentación y
                    transporte de los niños y jóvenes que se atienden en el CAM Jean Piaget y la telesecundaria de
                    educación especial, CAM Laboral y bachillerato no escolarizado para personas con discapacidad a
                    través de acciones de fortalecimiento, apoyo, gestión y promoción que le permita mejorar su calidad
                    de vida e integración a la sociedad y sector laboral
                </p>    
            </div>
        </article>
    </main>
    <% include ./partials/footer %>
</body>

</html>