<!Doctype html>
<html>
    <head>
        <% include ./partials/head %>
        <link rel="stylesheet" href="/stylesheets/devs.css">
        <title>Desarrolladores</title>
    </head>

    <body>
        <% include ./partials/menuNav %>
        <main>

        </main>
        <% include ./partials/footer %>
        <% include ./partials/scripts%>
    </body>
</html>