<!Doctype html>
<html>
    <head>
        <% include ./partials/head %>
        <link rel="stylesheet" href="/stylesheets/devs.css">
        <title>Desarrolladores</title>
    </head>

    <body>
        <% include ./partials/menuNav %>
        <main>
            <section class="jumbotron">
                <div class="w-50 mx-auto">
                    <h2 class="text-center text-break mb-0">Desarrolladores</h2>
                    <hr class="bg-dark w-25">
                </div>

                <div class="container-fluid mx-auto bg-white">
                    <div class="row p-3">
                        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                                <div id="card-2" class="card card-rotating text-center">
                                        <!-- Image -->
                                        <div class="card-up">
                                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/82.jpg">
                                        </div>
                                        <!-- Content -->
                                        <div class="card-body bg-info">
                                            <h4 class="font-weight-bold mt-1 mb-3">Miguel Rodriguez</h4>
                                            <p class="font-weight-bold dark-grey-text">Web Designer</p>                                    
                                        </div>
                                </div>
                        </div>

                        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                            <div id="card-2" class="card card-rotating text-center">
                                <!-- Image -->
                                <div class="card-up">
                                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/82.jpg">
                                </div>
                                <!-- Content -->
                                <div class="card-body bg-info">
                                    <h4 class="font-weight-bold mt-1 mb-3">Adrian Cortés</h4>
                                    <p class="font-weight-bold dark-grey-text">Web Designer</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                            <div id="card-2" class="card card-rotating text-center">
                                <!-- Image -->
                                <div class="card-up">
                                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/82.jpg">
                                </div>
                                <!-- Content -->
                                <div class="card-body bg-info">
                                    <h4 class="font-weight-bold mt-1 mb-3">Ismael Meza</h4>
                                    <p class="font-weight-bold dark-grey-text">Web Designer</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row p-3">
                        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                            <div class="card text-center">
                                <!-- Image -->
                                <div class="card-up">
                                    <img class="card-img-top"
                                        src="https://mdbootstrap.com/img/Photos/Others/images/82.jpg">
                                </div>
                                <!-- Content -->
                                <div class="card-body bg-info">
                                    <h4 class="font-weight-bold mt-1 mb-3">Pavel Isaac</h4>
                                    <p class="font-weight-bold dark-grey-text">Web Designer</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                            <div class="card text-center">
                                <!-- Image -->
                                <div class="card-up">
                                    <img class="card-img-top"
                                        src="https://mdbootstrap.com/img/Photos/Others/images/82.jpg">
                                </div>
                                <!-- Content -->
                                <div class="card-body bg-info">
                                    <h4 class="font-weight-bold mt-1 mb-3">Francisco Mancila</h4>
                                    <p class="font-weight-bold dark-grey-text">Web Designer</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                            <div class="card text-center">
                                <!-- Image -->
                                <div class="card-up">
                                    <img class="card-img-top"
                                        src="https://mdbootstrap.com/img/Photos/Others/images/82.jpg">
                                </div>
                                <!-- Content -->
                                <div class="card-body bg-info">
                                    <h4 class="font-weight-bold mt-1 mb-3">Teaaaaaaam</h4>
                                    <p class="font-weight-bold dark-grey-text">Web Designer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </main>
        <% include ./partials/footer %>
        <% include ./partials/scripts%>
    </body>
</html>