
<!DOCTYPE html>
<html lang="en">
  <head>
      <title></title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <% include ./partials/head%>
      <link rel="stylesheet" href="stylesheets/index.css">
  </head>
  <body>
    <% include ./partials/menuNav%>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>

    <% include ./partials/footer%>
    <% include ./partials/scripts%>
  </body>
</html>