<!DOCTYPE html>
<html lang="es">
<head>
  <% include ./partials/head %>
  <title>NotiBuilder</title>
</head>
<style>
  body, html{
    background: url("/img/random/bgLogin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
    height:100%;
  }
  img {
    max-width:50%;
  }
  .formulario {
    max-width: 540px;
    margin-top: 20%;
  }

</style>
<body class=" mt-auto mb-auto d-flex">
  <div class="d-flex align-items-center shadow rounded flex-column formulario bg-light mx-auto my-auto ">
    <p class="w-50 mt-3 text-center">
      <img class="rounded-circle shadow" src="/img/random/NotiBuilder.png"/>
    </p>
    <form class="m-2 mw-100">
      <div class="form-group">
        <label for="formGroup">👤Usuario</label>
        <input type="text" class="form-control" id="formUser" placeholder="Nombre de Usuario">
      </div>
      <div class="form-group">
        <label for="formGroup">🔑Contrasena</label>
        <input type="text" class="form-control" id="formPassowrd" placeholder="Contrasena">
      </div>
      
      <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>
  </div>
  <% include ./partials/scripts%>
</body>
</html>