<!Doctype html>
<html>

<head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="stylesheets/index.css">
    <title>Programas</title>
</head>
<body>
    <% include ./partials/menuNav %>
    <main class="container-fluid mt-4 mx-auto">
        
    <div class="image-container">
      <div class="text">NATURE</div>
    </div>
    </main>
    <% include ./partials/footer %>
</body>
</html>