<!Doctype html>
<html>

<head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="stylesheets/talleres.css">
    <title>acercade</title>
</head>
<body>
    <% include ./partials/menuNav %>
    <main class="container-fluid mt-4 mx-auto">

    </main>
    <% include ./partials/footer %>
</body>
</html>