<!Doctype html>
<html>

<head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="/stylesheets/talleres.css">
    <title>talleres</title>
</head>

<body>
    <% include ./partials/menuNav %>
    <main class="container-fluid p-0 mx-auto">
        <!--Taller jardineria y vivero-->
        <article class="jumbotron p-3 p-md-5 mb-0 text-white bg-secondary w-100">
            <div class="mx-auto text-center">
                <h2 class="text-lg-center text-break">Taller de Jardineria y Vivero</h2>
            </div>

                <div class="container mx-auto justify-content-center mt-3">
                    <p class="text-xl-center text-break">
                        En el 2014 se instalaron dos invernaderos para la producción de plantas así como la capacitación
                        para 22 personas con discapacidad a través de un ingeniero agrónomo durante seis meses dotando
                        de todas las herramientas y equipo necesario de seguridad para la reproducción de plantas. <br>
                        Continuando la capacitación y apoyando este taller en sus diferentes necesidades.
                    </p>
                </div>

            <hr class="mx-auto w-50">

            <div class="mx-auto w-75 justify-content-center mt-3">
                <p class="text-lg-center font-italic font-weight-light text-break">
                    Nos interesa la inserción de las personas con discapacidad al sector productivo
                </p>
            </div>

            <div class="mx-auto w-75 mt-3 text-center">
                <div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#galeria1"
                        aria-expanded="false" aria-controls="collapseExample">
                        Galería
                    </button>
                </div>

                <div class="collapse mt-4 mx-auto w-100" id="galeria1">
                    <div class="jumbotron bg-white text-dark">
                            <div class="row">
                                <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox"
                                    data-gallery="gallery" class="col-md-3">
                                    <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid rounded">
                                </a>
                                <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox"
                                    data-gallery="gallery" class="col-md-3">
                                    <img src="https://unsplash.it/600.jpg?image=252" class="img-fluid rounded">
                                </a>
                                <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox"
                                    data-gallery="gallery" class="col-md-3">
                                    <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid rounded">
                                </a>
                                <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox"
                                    data-gallery="gallery" class="col-md-3">
                                    <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid rounded">
                                </a>
                            </div>

                            <hr>

                            <div class="row">
                                <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox"
                                    data-gallery="gallery" class="col-md-3">
                                    <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid rounded">
                                </a>
                                <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox"
                                    data-gallery="gallery" class="col-md-3">
                                    <img src="https://unsplash.it/600.jpg?image=252" class="img-fluid rounded">
                                </a>
                                <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox"
                                    data-gallery="gallery" class="col-md-3">
                                    <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid rounded">
                                </a>
                                <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox"
                                    data-gallery="gallery" class="col-md-3">
                                    <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid rounded">
                                </a>
                            </div>
                    </div>
                </div>
            </div>
        </article>

        <!--Taller de panaderia-->
        <article class="jumbotron p-3 p-md-5 mb-0 text-white bg-warning w-100">
            <div class="mx-auto text-center">
                <h2 class="text-lg-center text-dark text-break">Taller de Panadería</h2>
            </div>

            <div class="container mx-auto justify-content-center mt-3">
                <p class="text-xl-center text-dark text-break">
                    En el 2009 se equipó un taller de Panadería con horno, batidora, amasadora industrial, báscula,
                    mesas de acero y todo los utensilios de cocina, así como material para elaboración de panes y galletas
                    y equipos de protección.
                    Capacitándose 21 personas con discapacidad y madres de familia y apoyando
                    este taller en sus diferentes necesidades.
                </p>
            </div>

            <hr class="mx-auto w-50">

            <div class="mx-auto w-75 justify-content-center mt-3">
                <p class="text-lg-center font-italic font-weight-light text-dark text-break">
                    Elaboración de pan fino, tradicional y galletas.
                </p>
            </div>

            <div class="mx-auto w-75 mt-3 text-center">
                <div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#galeria2"
                        aria-expanded="false" aria-controls="collapseExample">
                        Galería
                    </button>
                </div>

                <div class="collapse mt-4 mx-auto w-100" id="galeria2">
                    <div class="jumbotron bg-white text-dark">
                        <div class="row">
                            <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox"
                                data-gallery="gallery" class="col-md-4">
                                <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid rounded">
                            </a>
                            <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox"
                                data-gallery="gallery" class="col-md-4">
                                <img src="https://unsplash.it/600.jpg?image=252" class="img-fluid rounded">
                            </a>
                            <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox"
                                data-gallery="gallery" class="col-md-4">
                                <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid rounded">
                            </a>
                        </div>

                        <hr>

                        <div class="row">
                            <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox"
                                data-gallery="gallery" class="col-md-4">
                                <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid rounded">
                            </a>
                            <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox"
                                data-gallery="gallery" class="col-md-4">
                                <img src="https://unsplash.it/600.jpg?image=252" class="img-fluid rounded">
                            </a>
                            <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox"
                                data-gallery="gallery" class="col-md-4">
                                <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid rounded">
                            </a>
                        </div>

                        <div class="row">
                            <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox"
                                data-gallery="gallery" class="col-md-12">
                                <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid rounded">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <!--Taller de musica-->
        <article class="jumbotron p-3 p-md-5 mb-0 text-white bg-secondary w-100">
            <div class="mx-auto text-center">
                <h2 class="text-lg-center text-break">Taller de Música Para Niños Sordos</h2>
            </div>

            <div class="container mx-auto justify-content-center mt-3">
                <p class="text-xl-center text-break">
                    Se dotó de instrumentos musicales, grabadora, uniformes y maestro para grupo de música para niños
                    sordos “CUANDO VIBRAN LAS CUERDAS DEL ALMA”. <br>
                    El taller de música Orff les permite a los niños y jóvenes sordos un mejor aprovechamiento escolar,
                    desarrollando habilidades, aprender a tocar instrumentos de percusión y bailar.
                </p>
            </div>

            <div class="mx-auto w-75 mt-3 text-center">
                <div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#galeria3"
                        aria-expanded="false" aria-controls="collapseExample">
                        Galería
                    </button>
                </div>

                <div class="collapse mt-4 mx-auto w-100" id="galeria3">
                    <div class="jumbotron bg-white text-dark">
                        <div class="row">
                            <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox"
                                data-gallery="gallery" class="col-md-3">
                                <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid rounded">
                            </a>
                            <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox"
                                data-gallery="gallery" class="col-md-3">
                                <img src="https://unsplash.it/600.jpg?image=252" class="img-fluid rounded">
                            </a>
                            <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox"
                                data-gallery="gallery" class="col-md-3">
                                <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid rounded">
                            </a>
                            <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox"
                                data-gallery="gallery" class="col-md-3">
                                <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid rounded">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </main>
    <% include ./partials/footer %>
    <% include ./partials/scripts%>
</body>
</html>