@media screen and (max-width: 962px) {
    .container{
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
   .container{
       width: 100%;
   }
   .adjTop{
       margin-top: .5rem;
   }
}